html {
  font-size: 3vmin;
}

em {
  color: yellow;
  font-style: normal;
  font-weight: bold;
}

p strong,
li strong {
  color: white;
}

p {
  font-size: 1rem;
  margin-top: 0.3rem;
  margin-bottom: 0.2rem;
}

h1 strong,
h2 strong,
h3 strong {
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-style: normal;
  color: white;
  /* color: yellow; */
}

.source--root {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 10px;
  height: 0;
  overflow: visible;
}

.layout-image h1,
.layout-image h2,
.layout-image h3 {
  color: #0a0045;
}

.layout-image > div {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding-right: 2rem;
  padding-left: 2rem;

  flex-direction: column;
  align-items: center;
  display: flex;
  -webkit-box-align: center;
  justify-content: center;
}

.layout-image > div img,
.layout-image > div video {
  width: 100%;
  height: 100%;
  max-height: 70vh;
  object-fit: contain;
}

.small,
small {
  font-size: 0.6rem;
  line-height: 1.5;
}

.video,
iframe.browser {
  width: 42rem;
  height: 23.8rem;
  background-color: white;
}

iframe.browser.noBorder {
  background-color: transparent;

  border: 0 solid #666666;
  border-top: 0 solid #666666;
}

iframe.browser {
  border: 0.2rem solid #666666;
  border-top: 1rem solid #666666;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  max-width: 100%;
  max-height: 100%;
}

.container .highlight {
  color: yellow;
}

.container {
  max-width: 30em;
  height: 2em;
  padding: 1.3em 0;
  font-size: 3em;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
}

.center {
  text-align: center;
}

/* code size */
.gurtfe {
  font-size: 4vh;
}
